.pageShell {
  display: flex;
}

.content {
  flex: 1;
}

.iconContainer {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  stroke-width: 1.25px;
  cursor: pointer;
}
