.root {
  &[data-variant='primary'] {
    @mixin light {
      background-color: black;
      color: white;
      border: none;

      @mixin hover {
        background-color: white;
        color: black;
        border: 1px solid black;
      }
    }
  }

  &[data-variant='secondary'] {
    @mixin light {
      background-color: white;
      color: black;
      border: 1px solid black;
    }
  }
}

.label {
  font-weight: 300;
}