:root {
  --mantine-spacing-xxl: 3rem;
  --mantine-spacing-xxxl: 5.3rem;
}

:root[data-mantine-color-scheme='dark'] {
  --mantine-color-body: black;
  --mantine-color-text: var(--mantine-color-white);
}

:root[data-mantine-color-scheme='light'] {
  --mantine-color-body: var(--mantine-color-gray-0);
}

.app-container {
  width: 100dvw;
  height: 100dvh;
}

.book-entry-container {
  display: flex;
  width: 100;
}

.icon {
  color: var(--mantine-color-text);
  size: var(--mantine-font-size-sm);
}

.my-masonry-grid {
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

.my-masonry-grid_column > div {
  margin-bottom: 30px;
}
